SIN expandido season.xlsx
2.1 Timeclustering/NordesteResults Duration Curve.xlsx
2.1 Timeclustering/NordesteResults Sorted.xlsx
2.1 Timeclustering/NordesteResults.xlsx
2.1 Timeclustering/NorteResults Duration Curve.xlsx
2.1 Timeclustering/NorteResults Sorted.xlsx
2.1 Timeclustering/NorteResults.xlsx
2.1 Timeclustering/SudesteResults Duration Curve.xlsx
2.1 Timeclustering/SudesteResults Sorted.xlsx
2.1 Timeclustering/SudesteResults.xlsx
2.1 Timeclustering/SulResults Duration Curve.xlsx
2.1 Timeclustering/SulResults Sorted.xlsx
2.1 Timeclustering/SulResults.xlsx
3. SIN with water tecs/SIN expandido water atualizado.xlsx
4 . SIN with storage/SIN expandido storage atualizado.xlsx
